.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 28px;
}

.weather-card_temp {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
  color: #ffffff;
  font-weight: 700;
}

.weather-card_image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}
